
#firstDiv a span{
    padding: 4px;
color: #21283280;
    font-size: 12px;
}
#firstDiv a{
    
    text-decoration: none;
 
}
#firstDiv a:hover{
    background-color: transparent;
    border-color: transparent;
    color: rgba(33,40,50,.5);
    border-radius: 5px;

}
#firstDiv{
    background-color: white;
    padding: 8px 12px;
}